spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/barbershop_db
    username: barbershop_user
    password: change_me
  jpa:
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  port: 8080
  compression:
    enabled: false
  http2:
    enabled: false
  tomcat:
    connection-timeout: 20000
    max-http-response-header-size: 8192

logging:
  level:
    org.springframework: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    com.barbershop.backend: DEBUG

